*{
    box-sizing: border-box;
}
body{
    background-image:url(/room.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.door{
    position: fixed;
}
.door img{
    position: fixed;
}
.door a{
    opacity: 0%;
    
}
.door a:hover{
    opacity: 100%;
    
}
.door #ndoor{
    margin-left: 58px;
    
}
.doort{
    transform: translate(670px,50px);
}
.doorb{
    transform: translate(670px,568px) ;
}
.doorl{
    transform: translate(320px,300px) rotateZ(-90deg);
}
a .doorl{
    transform: translate(350px,330px) rotateZ(-90deg);
    box-shadow: 0px 0px 15px rgb(240, 255, 36);
}
.doorr{
    transform: translate(1025px,300px) rotateZ(-90deg);
}
a .doorr{
    transform: translate(1055px,330px) rotateZ(-90deg);
    box-shadow: 0px 0px 15px rgb(240, 255, 36);
}
a .doort{
    box-shadow: 0px 0px 15px rgb(240, 255, 36);
}
a .doorb{
    box-shadow: 0px 0px 15px rgb(240, 255, 36);
}
